ENVIRONMENT=PYTEST

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=wb_analyzer

TEST_SQLALCHEMY_DATABASE_URI="postgresql+asyncpg://postgres:postgres@localhost:5432/wb_analyzer"
PROJECT_NAME=wb_analyzer
